
body {
  background-color: antiquewhite;
}
.ProfileItem {
  margin: 8px;
  padding: 12px 16px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

}

.avatars{
  border-radius: 50%;
  width: 200px;
  height: 220px;
  background-color: #fff;

}
.name {
  color: black;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
line-height: calc(18/12);
font-weight: 700;
margin: 4px;
}

.tag {
  color: grey;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: calc(14/12);
  font-weight: 500;
  margin: 4px;
}

.location {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: calc(16/12);
  font-weight: 600;
  margin: 4px;
  margin-bottom: 15px;
}

.label {
color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: calc(14/12);
  font-weight: 400;

}

.stats {
list-style: none;
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
margin: 0px;
padding: 0px;
background-color:rgb(249, 243, 237);
}

.statsLi {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
padding: 8px;

border-left:1px solid rgb(206, 205, 205);
border-top:1px solid rgb(206, 205, 205);
border-bottom: 1px solid rgb(206, 205, 205);
box-shadow: rgb(126 147 255 / 20%) 0px 1px 4px;
&:last-child {
  border-right: 1px solid rgb(206, 205, 205);
}

}

.quantity {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: calc(18/12);
  font-weight: 500;

}
