.statistics {
  background-color: #fff;
  margin: 8px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}


.title {

  font-family: 'Courier New', Courier, monospace;
  font-size: bolid 18px;
text-transform: capitalize;
padding: 25px 10px;
margin: 0;

}

.stats {
list-style: none;
display: flex;

}

.firstList {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


}

.secondList {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.label {
padding: 5px;
}


.percentage{
padding: 5px;
}



