.item {
  list-style: none;
display: flex;
justify-content: center;
align-items: center;
align-content: flex-start;
gap: 1em;
margin: 10px;
padding: 0.5em 0.5em 0.5em 0.5em;
background-color: #fff;


}

.isTrue {
  content: "";
  border-radius: 50%;
  background-color:greenyellow;
  color: greenyellow;
  width: 10px;
  height: 10px;


}

.isFalse{
    content: '';
    border-radius: 50%;
    background-color: orangered;
    color: orangered;
    width: 10px;
    height: 10px;
}

span {
  flex-direction: column;
  display: flex
  ;
}

.avatar {
background-color: aliceblue;
height: 100%;
width: 100px;
border-radius: 50%;

}
